@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.body{
  
 background-color: rgb(34, 34, 34) ;
  margin: 0;
  padding: 0;
  
 
  
}
header{
  background-image: url(../imges/skater.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
 
  
}



/* sheard style */

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}



/* sheard style */
  
 

 



/* start navber */
 .navber{
  justify-content: space-between;
  align-items: center;
 padding: 15px 150px;
  background-color:  rgb(34, 34, 34);
 }
 
 .navber h3{
  color: rgb(255, 139, 0);
 }

.navber ul li {
   list-style: none;
   margin-right: 25px;
}

.navber li a{
  text-decoration: none;
  color: white;
}
.home{
  color:rgb(255, 139, 0) ;
}



 /* end navber */

 /* header-containt */

.header .header-section{
  width: 550px;
  text-align: center;
  color: whitesmoke;
  margin-left: 500px;
  padding-top: 200px;
}
.header-section h3{
  font-size: 55px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.header-section p{
  font-size: 20px ;
  color: #fff;
}
.header-section .header-btn{
  width: 130px;
  margin-left: 160px;
  padding: 10px  8px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.8s ease-in-out;
}
.header-section .header-btn:hover{
  background-color: white;
  color: black;
}

 /* header-containt */
 


 /* start-main */
 .main{
  margin-top: 200px;
  background-color:rgb(34, 34, 34) ;
 }

.main-head{
  width: 500px;
  margin-left: 32%;
  
}
.main-head h2{
  color:rgb(255, 139, 0) ;
  font-size: 3rem;
  text-align: center;
}
.main-head p{
  width: 600px;
  font-size: 15px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.644);
}
.sket-icon{
  width: 100px ;
  margin-top: 140px;
}

.box-1{
  width: 300px;
  color: white;
  border: 1px solid ;
  height: 400px;
  margin-top: 50px;
  padding:15px ;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  
}

.box-1:hover{
  height: 420px;
  font-size: 40px;
  box-shadow: 3px 2px 8px lightblue;
  border: 2px solid lightblue;
  
}


.box-1 h3{
   font-size: 25px;
   color: whitesmoke;
}
.box-1 p{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.644);
  
}
.box {
  margin-left: 200px;
  grid-template-columns: repeat( 3, 1fr );
  gap: 30px;
}

.performance {
  margin-left: 200px;
  margin-top: 200px;
  gap: 150px;
}
.performance .per-img img{
  width: 500px;
  border-radius: 5px; 
}
.per-containt{
  width: 450px;
  margin-top: 20px;
}
.performance .per-containt h2{
  color:rgb(255, 139, 0) ;
  font-size: 35px;
  margin-bottom: 80px;
}
.per-containt p{
  line-height: 1.9;
  color: #ffffff9a;
}
.per-containt ul {
  
}
.per-containt .per-para {
   margin-top: 70px;
}
.per-containt .per-icon {
  margin-top: 150px;
  color: #ffffff8c;
  line-height: 3;
}
.sin-icon{
  
  width: 20px;
  margin-right: 15px;

}


.performance-1 {
  margin-right: 290px;
  margin-top: 50px;
  gap: 150px;
  flex-direction: row-reverse;
}
.performance-1 .per-img img{
  width: 500px;
  border-radius: 5px; 
  height: 800px;
}
.per-containt{
  width: 450px;
  margin-top: 20px;
}
.performance-1 .per-containt h2{
  color:rgb(255, 139, 0) ;
  font-size: 35px;
  margin-bottom: 80px;
}
.per-containt p{
  line-height: 1.9;
  color: #ffffff9a;
}

.per-containt .per-para {
   margin-top: 70px;
}
.per-containt .per-icon {
  margin-top: 150px;
  color: #ffffff8c;
  line-height: 3;
}
.sin-icon{
  
  width: 20px;
  margin-right: 15px;

}


.main-head-1{
  margin-top: 200px;
  width: 500px;
  margin-left: 32%;
}
.main-head-1 h4{
  font-size: 13px;
  text-align: center;
  color: #ffffff75;
}
.main-head-1 h1{
  font-size: 45px;
  text-align: center;
  color: rgb(255, 139, 0);
  margin-top: -10px;
}



 /* end-main */





/* START REVPONSIVE  */

@media screen and (max-width:576px) {
   .navber, ul{
    flex-direction: column;
   }

  .header .header-section{
    width: 100%;
    margin-left: 0px;
   }

   .header-section h3{
    font-size: 43px;
   }

   .main-head{
  width: 100%;
  margin-left: 0; 
 
}
.main-head p{
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.box {
   /* width: 100%; */
  margin-left: 70px;
  grid-template-columns: repeat(1, 1fr);
}
.performance {
  flex-direction: column;
  margin-left: 0;
  padding: 10px;
}
.performance .per-img img{
  width: 100%;
}
.per-containt{
  width: 100%;
}
.per-containt p{
  width: 100%;
}



.performance-1 {
  flex-direction: column;
  margin-right: 10px;
  padding: 10px;
}
.performance-1 .per-img img{
  width: 100%;
}
.per-containt{
  width: 100%;
}
.per-containt p{
  width: 100%;
}



  
}